@import './var.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.clear{
    clear: both;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: $primary_text_color;
}

.secondary_text{
    color: $secondary_text_color;
}

.highlight_text{
    color: $highlight_text_color; 
}

.button{
    border: none;
    border-radius: 30px;
    padding: 20px 25px;
    font-weight: 800;
}

.standard_section{
    padding: 30px 0px;
    h2{
        text-align: center;
        font-size: 52px;
        padding-top: 45px;
    }
}