$primary_color: #F2B91E;
$primary_text_color: #000;
$secondary_text_color: #fff;
$highlight_text_color: #F2B91E;
$New_tag_navbar_color: #DC1245;
$special_tag_course_color:#F09B23;
$card_coursecategory_color: #a7a7a7;
$card_lines_color: #d1d1d1;